*, *:before, *:after {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.images-padding{
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 2px;
    padding-left: 2px;
}

#checklist-padding{
    padding-left: 6px;
    padding-right: 6px;
}

#log-in-padding{
    padding-top: 18px;
    padding-bottom: 18px;

}

/* .border{
    border: 1px solid black;
} */

/*#region header*/
header{
    border-bottom: 1px solid lightgray;
    flex-basis: 8%;
    display:flex;
    justify-content: space-between;
}

header i.left-logo{
    flex-basis: 10%;
    order: 1;
    margin: auto;
}

header p.left-logo{
    float: left;
    padding-bottom: 8.5px;
    padding-top: 8.5px;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    flex-basis: 10%;
    order: 2;
    margin: auto;
}

header form.center-search{
    padding: 9px 0px 11.5px 0px;
    text-align: center;
    flex-basis: 60%;
    order: 3;
    margin: auto;
}

header i.right-login{
    flex-basis: 10%;
    order: 4;
    margin: auto;
}

header section.right-section{
    flex-basis: 10%;
    order: 5;
    margin: auto;
}
/*#endregion header*/

/*#region sezione centrale*/
#sezione-centrale{
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
}
/*#endregion sezione centrale*/

/*#region aside*/
#left-bar{
    flex-basis: 19.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: 1px solid lightgrey;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    padding-right: 0.2%;
}

#left-bar button.button-style{
    background-color: white;
    flex-basis: 8%;
    margin: auto;
    min-width: 100px;
    width:30%;
    min-height: 70px;
    border-radius: 24px;
    box-shadow: 0px 1px 2px 2px rgb(00 00 00 / 30%);
    align-items: center;
    border: 0;
}

#left-bar button.button-style:hover{
    box-shadow: 0px 1px 3px 3px rgb(00 00 00 / 40%);
}
/*#endregion aside*/

/*#region add button*/
#add-button{

}
/*#endregion add button*/

/*#region main*/
#main-folder{
    flex-basis: 79.5%;
    text-align: center;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    padding-left: 0.2%;
}
/*#endregion main*/

/*#region footer*/
footer{
    text-align: center;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    background-color: #40356F;
}

#prima-sezione-footer{
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid #A19FDE;
    display: flex;
}

#seconda-sezione-footer{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

#footer-testo-prima-parte{
    font-size: 24px;
    color: #FFFFFA;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    padding: 15px;
}

.footer-links{
    font-size: 24px;
    color: #FFFFFA;
    text-decoration: none;
}

#footer-images-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}

.footer-images{
    width: 45px;
    height: 45px;
}

.padding-immagini-footer{
    padding: 15px;
}

#footer-testo-seconda-parte{
    font-size: 20px;
    color: #FFFFFA;
    padding: 15px;
    margin-left: auto;
}

.footer-link-seconda-parte{
    font-size: 20px;
    color: #FFFFFA;
    text-decoration: none;
}

#logo-footer{
    padding: 15px;
    width: 85px;
    height: 85px;
    border-radius: 25px;
}
/*#endregion footer*/

/*#region*/
/*#endregion*/